@font-face {
  font-family: "League Spartan";
  src: url("../../fonts/LeagueSpartan-Bold.woff2") format("woff2"), url("../../fonts/LeagueSpartan-Bold.woff") format("woff"), url("../../fonts/LeagueSpartan-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1E1E1E;
  height: 100vh;
  position: relative;
  background-color: #1D1D1D;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #1FFF0F;
  margin-bottom: 16px;
}
header .header-inner {
  padding: 8px 0 16px 0;
}
header .header-inner .logo {
  text-align: center;
}
header .header-inner .social-links {
  margin-top: 16px;
}
header .header-inner .social-links ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .header-inner .social-links ul li {
  list-style: none;
  margin-right: 8px;
}
header .header-inner .social-links ul li a {
  color: #1FFF0F;
  font-size: 20px;
}

.navigator .navigator-inner {
  padding: 0 16px;
}
.navigator .navigator-inner nav ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navigator .navigator-inner nav ol li {
  align-self: flex-start;
}
.navigator .navigator-inner nav ol li a {
  font-family: "League Spartan";
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;
  color: #f5f5f5;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
  font-size: 32px;
  line-height: 1.6;
  color: transparent;
  -webkit-text-stroke: 1px #f5f5f5;
  font-weight: 700;
}
.navigator .navigator-inner nav ol li a::before {
  content: attr(data-text);
  position: absolute;
  color: #f5f5f5;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  border-color: #1FFF0F;
}
.navigator .navigator-inner nav ol li a:hover::before {
  height: 100%;
  -webkit-text-stroke: 1px #f5f5f5;
  filter: drop-shadow(0 0 25px #1FFF0F);
  border-bottom: 6px solid #1FFF0F;
}

footer {
  background-color: #252526;
  margin-top: 16px;
}
footer .footer-inner {
  padding-top: 24px;
}
footer .footer-inner .blog-btn {
  margin-bottom: 24px;
  padding-left: 16px;
}
footer .footer-inner .blog-btn #blog {
  background-color: #1FFF0F;
  border: 1px solid transparent;
  min-width: 96px;
  padding: 12px 0 12px 8px;
  text-align: start;
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
  color: #E3E3E3;
  color: #252526;
  font-weight: 600;
  border-radius: 0 40px 40px 0;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
footer .footer-inner .blog-btn #blog:hover {
  color: #1FFF0F;
  border: 1px solid #1FFF0F;
  background-color: transparent;
}
footer .footer-inner .blog-btn .btn-span {
  padding-left: 0.5vw;
}
footer .footer-inner .copyright {
  border-top: 1px solid #1FFF0F;
  padding: 10px 0;
  text-align: center;
}
footer .footer-inner .copyright .copy-text {
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
  color: #E3E3E3;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
