@import "./partials/variables";
@import "./partials/fonts";
@import "./partials/global";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/navigator";
@import "./partials/footer";
@import "./partials/banner";
@import "./partials/hero";
@import "./partials/about";
@import "./partials/portfolio";
@import "./partials/skills";
@import "./partials/hireme";
@import "./partials/blog";