.about {
    .about-inner {
        h2 {
            @include heading-2;
            text-align: center;
        }
        .about-flex {
            display: flex;
            justify-content: space-around;
            .about-left {
                max-width: 400px;
                max-height: 400px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .about-right {
                max-width: 50%;
                margin: auto 0;
                p {
                    @include large-text;
                    line-height: 2;
                    text-align: justify;
                    margin-bottom: 24px;
                    &:nth-child(2) {
                        margin-bottom: 48px;
                    }
                }
                a{
                    background-color: $primary-color;
                    padding: 12px 20px;
                    border: 1px solid transparent;
                    border-radius: 8px;
                    text-transform: uppercase;
                    @include large-text;
                    color: $background-color;
                    font-weight: 800;
                    transition: 0.4s ease-in-out;
                    &:hover{
                        color: $primary-color;
                        background-color: $background-color;
                        border: 1px solid $primary-color;
                    }
                }
            }
        }
    }
}