/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.about {
    .about-inner {
        h2 {
            @include heading-2;
            text-align: center;
        }
        .about-flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            background-color: $footer-color;
            padding: 48px;
            margin: auto 0;
            p {
                @include large-text;
                line-height: 2;
                text-align: justify;
                margin-bottom: 24px;
                max-width: 75%;
                align-self: flex-start;
                &:nth-child(2) {
                    margin-bottom: 48px;
                    align-self: flex-end;
                }
            }
            a {
                background-color: $primary-color;
                padding: 12px 20px;
                border: 1px solid transparent;
                border-radius: 8px;
                text-transform: uppercase;
                @include large-text;
                color: $background-color;
                font-weight: 800;
                -webkit-transition: 0.4s ease-in-out;
                -o-transition: 0.4s ease-in-out;
                transition: 0.4s ease-in-out;
                align-self: center;
                &:hover {
                    color: $primary-color;
                    background-color: $background-color;
                    border: 1px solid $primary-color;
                }
            }
        }
    }
}

@media (max-width:1280px) {
    .about {
        .about-inner {
            h2 {
                font-size: 32px;
            }
            .about-flex {
                p {
                    font-size: $reg-text;
                }
            }
        }
    }
}

@media (max-width:992px) {
    .about {
        .about-inner {
            h2 {
                font-size: 32px;
            }
            .about-flex {
                p {
                    line-height: 1.5;
                    margin-bottom: 16px;
                    align-self: center;
                    &:nth-child(2) {
                        margin-bottom: 40px;
                        align-self: center;
                    }
                }
                a {
                    padding: 10px 16px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .about {
        .about-inner {
            .about-flex {
                padding: 32px 15px;
                p {
                    max-width: 100%;
                }
            }
        }
    }
}