.about-inner {
    .about-top {
        text-align: center;
        margin-bottom: 16vh;
        h2 {
            @include heading-2();
            margin-bottom: 8vh;
        }
        p {
            @include large-text();
            max-width: 40vw;
            margin: 0 auto 4vh auto;
            &:nth-child(4) {
                margin-bottom: 0;
            }
        }
    }
}