.blog {
    margin-top: 160px;
    h2 {
        @include heading-2;
        text-align: center;
    }
a{
   color: inherit;
   text-decoration: none;
 }
 ul{
    list-style: none;
 }
 
 .blog{
    margin: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__header{
       text-align: center;
    }
    &__header1{
       margin: 0;
       font-size: 1.1rem;
       font-weight: 300;
       letter-spacing: .2px;
       text-transform: uppercase;
    }
    &__header2{
       margin-top: .3rem;
       font-size: 1.4rem;
       font-weight: 500;
    }
    &__header2Span{
       font-weight: 400;
       font-size: 1.25rem;
    }
    &__slider{
       padding: 0;
       display: flex;
       flex-direction: row;
       justify-content: center;
    }
    &__post{
       margin: 3rem 1rem;
       width: 25%;
       -webkit-box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
       -moz-box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
       box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
       transition: 0.4s ease-in-out;
       &:hover{
          box-shadow: unset;
       }
    }
    &__topImg{
       max-width: 100%;
       width: 450px;
       height: 240px;
       object-fit: cover;
    }
    
    &__content{
       padding: .8rem;
    }
    &__preview{
       font-size: .95rem;
       font-weight: 300;
    }
    &__title{

       @include heading-2;
       font-size: 24px;
       text-align: left;
       letter-spacing: 4px;
       line-height: 1.4;
       max-height: 67px;
       overflow: hidden;
    }
    &__intro{
       
       @include large-text;
       font-size: $reg-text;
       line-height: 1.5;
       max-height: 72px;
       overflow: hidden;
      }
    &__info{
       font-weight: 300;
    }
    &__author{
  
       @include large-text;
       font-size: $sm-text;
    }
    &__date{
  
       @include large-text;
       font-size: $sm-text;
    }
 
    &__counter{
       margin: 0;
       padding: 0;
       display: flex;
       flex-direction: row;
    }
    &__counterItem{
       height: 20px;
       width: 20px;
       margin: .5rem;
       background-color: lightgray;
       border: 1px solid lightgray;
       border-radius: 25px;
       &:hover{
          cursor: pointer;
       }
    }
    &__counterItem-active{
       border: 1px solid lightblue;
       background-color: lightblue;
    }
    
 }
 hr{
    margin: 12px 0;
   color: $text-color;
 
}
 
}

