/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

footer {
    background-color: $footer-color;
    margin-top: 16px;
    .footer-inner {
        padding-top: 24px;
        .footer-top {
            margin-bottom: 24px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            .col-right {
                width: 30%;
                .footer-logo {
                    margin-top: -11px;
                }
                p {
                    @include large-text;
                    font-size: $sm-text;
                    text-align: justify;
                    width: 72%;
                }
            }
            .col-center {
                width: 40%;
                h4 {
                    @include heading-2;
                    font-size: 24px;
                    margin-bottom: 12px;
                }
                p {
                    @include large-text;
                    font-size: $sm-text;
                    margin-bottom: 12px;
                    line-height: 1.2;
                    text-align: justify;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        a {
                            color: $primary-color;
                            text-decoration: wavy;
                            font-size: $reg-text;
                            line-height: 1.3;
                        }
                    }
                }
            }
            .social-links-footer {
                width: 10%;
                ul {
                    list-style: none;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    gap: 12px;
                    -webkit-box-align: end;
                    -ms-flex-align: end;
                    align-items: flex-end;
                    li {
                        a {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .copyright {
        border-top: 1px solid $primary-color;
        padding: 10px 0;
        text-align: center;
        .copy-text {
            @include large-text();
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

@media (max-width: 1080px) {
    footer {
        .footer-inner {
            .footer-top {
                .col-right {
                    .footer-logo {
                        max-width: 80px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    footer {
        .footer-inner {
            .footer-top {
                .social-links-footer {
                    ul {
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    footer {
        .footer-inner {
            .footer-top {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                gap: 32px;
                .col-right {
                    width: 100%;
                    -ms-flex-item-align: center;
                    -ms-grid-row-align: center;
                    align-self: center;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    .footer-logo {
                        margin: 0 auto;
                    }
                    p {
                        margin: 0 auto;
                        width: 277px;
                    }
                }
                .col-center {
                    width: 277px;
                    h4 {
                        text-align: center;
                        font-size: $lg-text;
                    }
                }
                .social-links-footer {
                    width: 100%;
                    ul {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: unest;
                        -ms-flex-align: unest;
                        align-items: unest;
                    }
                }
            }
        }
    }
}

@media (max-width:400px) {
    footer {
        .footer-inner {
            .footer-top {
                .col-right {
                    width: 100%;
                    -ms-flex-item-align: center;
                    -ms-grid-row-align: center;
                    align-self: center;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    .footer-logo {
                        margin: 0 auto;
                    }
                    p {
                        margin: 0 auto;
                        width: 220px;
                    }
                }
                .col-center {
                    width: 220px;
                    h4 {
                        text-align: center;
                        font-size: $lg-text;
                        line-height: 1.4;
                    }
                }
                .social-links-footer {
                    width: 100%;
                    ul {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: unest;
                        -ms-flex-align: unest;
                        align-items: unest;
                    }
                }
            }
        }
    }
}