footer {
    background-color: $footer-color;
    margin-top: 16px;
    .footer-inner {
        padding-top: 24px;
        .blog-btn {
            margin-bottom: 24px;
            padding-left: 16px;
            #blog {
                background-color: $primary-color;
                border: 1px solid transparent;
                min-width: 96px;
                padding: 12px 0 12px 8px;
                text-align: start;
                @include large-text();
                color: $footer-color;
                font-weight: 600;
                border-radius: 0 40px 40px 0;
                letter-spacing: 2px;
                cursor: pointer;
                transition: 0.4s ease-in-out;
                &:hover {
                    color: $primary-color;
                    border: 1px solid $primary-color;
                    background-color: transparent;
                }
            }
            .btn-span {
                padding-left: 0.5vw;
            }
        }
        .copyright {
            border-top: 1px solid $primary-color;
            padding: 10px 0;
            text-align: center;
            .copy-text {
                @include large-text();
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 1px;
            }
        }
    }
}