footer {
    background-color: $footer-color;
    margin-top: 16px;
    .footer-inner {
        padding-top: 24px;
        .footer-top {
            margin-bottom: 24px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            .col-right {
                width: 30%;
                .footer-logo {
                    margin-top: -11px;
                }
                p {
                    @include large-text;
                    font-size: $sm-text;
                    text-align: justify;
                    width: 72%;
                }
            }
            .col-center {
                width: 50%;
                h4 {
                    @include heading-2;
                    font-size: 24px;
                    margin-bottom: 12px;
                }
                p {
                    @include large-text;
                    font-size: $sm-text;
                    margin-bottom: 12px;
                    line-height: 1.2;
                    text-align: justify;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .social-links-footer {
                width: 10%;
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    align-items: flex-end;
                    li {
                        a {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .copyright {
        border-top: 1px solid $primary-color;
        padding: 10px 0;
        text-align: center;
        .copy-text {
            @include large-text();
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

@media (max-width: 1080px){
    footer{
        .footer-inner{
            .footer-top{
                .col-right{
                    .footer-logo{
                        max-width: 80px;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}