/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.hero {
    padding: 0 16px;
    margin: 120px 0;
    .hero-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        .hero-left {
            h1 {
                position: relative;
                margin-bottom: 32px;
                &::after {
                    content: '';
                    background-color: $primary-color;
                    position: absolute;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    -webkit-animation: indicator 3s ease-in-out infinite both;
                    animation: indicator 3s ease-in-out infinite both;
                }
                .text-animation {
                    @include heading-1;
                    font-size: 64px;
                    letter-spacing: 12px;
                    -webkit-transition: 0.3s ease-in-out;
                    -o-transition: 0.3s ease-in-out;
                    transition: 0.3s ease-in-out;
                }
            }
            a {
                background-color: $primary-color;
                padding: 12px 40px;
                border: 1px solid transparent;
                border-radius: 8px;
                text-transform: uppercase;
                @include large-text;
                color: $background-color;
                font-weight: 800;
                -webkit-transition: 0.4s ease-in-out;
                -o-transition: 0.4s ease-in-out;
                transition: 0.4s ease-in-out;
                &:hover {
                    color: $primary-color;
                    background-color: $background-color;
                    border: 1px solid $primary-color;
                }
            }
        }
        .hero-image {
            max-width: 500px;
            background-color: rgba(31, 255, 15, 0.1);
            border: 1px solid transparent;
            position: relative;
            border-radius: 500px;
            overflow: hidden;
            img {
                margin-bottom: -5px;
                height: 100%;
                width: 100%;
            }
        }
    }
}

@-webkit-keyframes indicator {
    0% {
        width: 10%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 10%;
    }
}

@keyframes indicator {
    0% {
        width: 10%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 10%;
    }
}

@media (max-width: 1280px) {
    .hero {
        .hero-inner {
            .hero-left {
                h1 {
                    .text-animation {
                        font-size: 48px;
                        letter-spacing: 6px;
                    }
                }
            }
            .hero-image {
                max-width: 300px;
            }
        }
    }
}

@media (max-width: 992px) {
    .hero {
        margin-top: 0;
        .hero-inner {
            gap: 36px;
            .hero-left {
                h1 {
                    .text-animation {
                        font-size: 40px;
                    }
                }
                a {
                    padding: 10px 20px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        .hero-inner {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            .hero-left {
                text-align: center;
                h1 {
                    &::after {
                        -webkit-animation: unset;
                        animation: unset;
                    }
                }
            }
        }
    }
}