.navigator {
    background-color: $background-color;
    top: 0;
    position: relative;
    z-index: 20;
    transition: 0.5s ease-in-out;
    .navigator-inner {
        padding: 0 16px;
        nav {
            ol {
                list-style: none;
                display: flex;
                justify-content: space-around;
                li {
                    align-self: flex-start;
                    a {
                        @include heading-2();
                        margin-bottom: 0;
                        position: relative;
                        font-size: 32px;
                        line-height: 1.6;
                        color: transparent;
                        -webkit-text-stroke: 1px $heading-color;
                        font-weight: 700;
                        &::before {
                            content: attr(data-text);
                            position: absolute;
                            color: $heading-color;
                            height: 0;
                            overflow: hidden;
                            transition: 0.4s ease-in-out;
                            border-color: $primary-color;
                        }
                        &:hover::before {
                            height: 100%;
                            -webkit-text-stroke: 1px $heading-color;
                            filter: drop-shadow( 0 0 25px $primary-color);
                            border-bottom: 6px solid $primary-color;
                        }
                    }
                }
            }
        }
        .hamburger {
            display: none;
            position: fixed;
            right: 56px;
            top: 16px;
            width: 16px;
            height: 40px;
          }
          
          .bar,
          .fa-times {
            width: 1.5rem;
            height: 4px;
            display: block;
            color: $primary-color;
            padding: 0;
            margin: 6px;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            background-color: $primary-color;
          }
          
          .bar:nth-child(1) {
            width: 100%;
          }
          
          .bar:nth-child(2) {
            width: 200%;
          }
          
          .bar:nth-child(3) {
            width: 300%;
          }
    }

}

.nav-scrolled{
    position: fixed;
    width: 100%;
    padding: 24px 0 8px 0;
    background-color: $footer-color;
    #_progress {
        --scroll: 0%;
        background: linear-gradient(to right,$primary-color var(--scroll),transparent 0);
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        z-index: 100;
    }

}

@media (max-width: 1280px){
    .navigator{
        .navigator-inner{
            nav{
                ol{
                    li{
                        a{
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1080px){
    .navigator{
        padding-bottom: 16px;
        .navigator-inner{
            nav{
                ol{
                   
                    li{
                        a{
                            font-size: 20px;
                           
                        }
                    }
                }
            }
        }
    }
}

// @media (max-width:992px){
//     .navigator{
//         .navigator-inner{
//             nav{

//                 ol{
//                     flex-direction: column;
//                     li{
//                         align-self: center;
//                         a{
//                             &::before {
//                                 height: 100%;
//                                 width: 0;
//                                 overflow: hidden;
//                             }
//                             &:hover::before {
//                                 width: 100%;
//                                 border-bottom: unset;
//                                 border-right: 6px solid $primary-color;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .nav-scrolled{
//         position: unset;
//         background-color: unset;
//         #_progress {
//             position: fixed;
//             top: 0;
//         }
//     }
// }

@media (max-width: 992px){
.navigator{
    .navigator-inner{
        .nav-menu {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            right: -100%;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            margin: 0 auto;
          }
        
          .nav-menu li {
            padding: 1rem 0;
            
          }
        
          a.nav-link {
            margin: 1rem 0;
            color: #333;
            z-index: 1;
          }
        
          .active {
            right: 0;
            z-index: 100;
            transition: 0.2s ease;
          }
        .hamburger {
            display: block;
            
            
            z-index: 2;
          }
          .active .bar:nth-child(2) {
            opacity: 0;
          }
          .active .bar:nth-child(1) {
            -webkit-transform: translateY(8px) translateX(-60px) rotate(-315deg);
            transform: translateY(8px) translateX(-60px) rotate(-315deg);
            width: 300%;
          }
          .active .bar:nth-child(3) {
            -webkit-transform: translateY(-12px) translateX(-60px) rotate(-45deg);
            transform: translateY(-12px) translateX(-60px) rotate(-45deg);
            width: 300%;
          }
          .active {
              background-color: $background-color;
            
            z-index: 100;
            transition: 0.5s ease;
          }
    }
}
    .nav-scrolled{
        position: unset;
        background-color: unset;
        #_progress {
            position: fixed;
            top: 0;
        }
    }
}