.navigator {
    .navigator-inner {
        padding: 0 2vw;
        @include flex();
        justify-content: start;
        gap: 14vw;
        .hero-img {
            max-width: 24vw;
            border: 4px solid $primary-color;
            padding: 8px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        nav {
            border-left: 1px solid $primary-color;
            padding-left: 8vw;
            position: relative;
            max-width: 40vw;
            width: 100%;
            ol {
                // list-style-type: decimal-leading-zero;
                list-style: none;
                counter-reset: none;
                display: flex;
                flex-direction: column;
                gap: 6vh;
                position: absolute;
                top: 20%;
                transform: translateY(-50%);
                // width: 16vw;
                li {
                    counter-increment: li;
                    &::before {
                        content: counter(li);
                        @include large-text();
                        display: inline-block;
                        width: 1vw;
                        margin-left: -1vw;
                        padding: 0.5vh;
                    }
                    a {
                        h2 {
                            @include heading-2();
                        }
                    }
                }
            }
        }
    }
}