.navigator {
    background-color: $background-color;
    padding-top: 32px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
    .navigator-inner {
        padding: 0 16px;
        nav {
            ol {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                li {
                    align-self: flex-start;
                    a {
                        @include heading-2();
                        position: relative;
                        font-size: 32px;
                        line-height: 1.6;
                        color: transparent;
                        -webkit-text-stroke: 1px $heading-color;
                        font-weight: 700;
                        &::before {
                            content: attr(data-text);
                            position: absolute;
                            color: $heading-color;
                            height: 0;
                            overflow: hidden;
                            transition: 0.4s ease-in-out;
                            border-color: $primary-color;
                        }
                        &:hover::before {
                            height: 100%;
                            -webkit-text-stroke: 1px $heading-color;
                            filter: drop-shadow( 0 0 25px $primary-color);
                            border-bottom: 6px solid $primary-color;
                        }
                    }
                }
            }
        }
    }
}