.navigator {
    .navigator-inner {
        padding: 0 2vw;
        @include flex();
        justify-content: start;
        gap: 14vw;
        .hero-img {
            max-width: 24vw;
            border: 4px solid $primary-color;
            padding: 8px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        nav {
            border-left: 1px solid $primary-color;
            padding-left: 8vw;
            position: relative;
            max-width: 40vw;
            width: 100%;
            ol {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 4vh;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                li {
                    a {
                        @include heading-2();
                        position: relative;
                        line-height: 1.6;
                        color: transparent;
                        -webkit-text-stroke: 1px $heading-color;
                        font-weight: 700;
                        &::before {
                            content: attr(data-text);
                            position: absolute;
                            color: $heading-color;
                            width: 0;
                            overflow: hidden;
                            transition: 0.4s ease-in-out;
                            border-right: 8px solid $primary-color;
                        }
                        &:hover::before {
                            width: 100%;
                            -webkit-text-stroke: 1px $heading-color;
                            filter: drop-shadow( 0 0 25px $primary-color);
                        }
                    }
                }
            }
        }
    }
}