/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.portfolio {
    margin: 120px 0;
    .portfolio-inner {
        h2 {
            @include heading-2;
            text-align: center;
        }
        .portfolio-holder {
            border: 4px solid $primary-color;
            padding: 16px 16px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            .portfolio-col {
                max-width: 28%;
                text-align: center;
                padding: 16px 24px;
                .portfolio-image {
                    max-width: 120px;
                    width: 100%;
                    max-height: 120px;
                    height: 120px;
                    margin: 0 auto;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .portfolio-heading {
                    margin: 24px 0;
                    @include heading-4;
                    color: $heading-color;
                }
                .portfolio-text {
                    @include large-text;
                    font-size: 16px;
                    font-weight: 400;
                    color: $heading-color;
                }
            }
            .portfolio-col2 {
                max-width: 28%;
                text-align: center;
                background-color: $primary-color;
                padding: 16px 24px;
                .portfolio-image-2 {
                    max-width: 120px;
                    width: 100%;
                    max-height: 120px;
                    height: 120px;
                    margin: 0 auto;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .portfolio-heading-2 {
                    margin: 24px 0;
                    @include heading-4;
                    color: $background-color;
                }
                .portfolio-text-2 {
                    @include large-text;
                    font-size: 16px;
                    color: $background-color;
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-width:1280px) {
    .portfolio {
        .portfolio-inner {
            h2 {
                font-size: 32px;
            }
        }
    }
}

@media (max-width:1024px) {
    .portfolio {
        .portfolio-inner {
            .portfolio-holder {
                display: flex;
                flex-direction: column;
                gap: 16px;
                .portfolio-col {
                    max-width: 72%;
                    margin: auto;
                }
                .portfolio-col2 {
                    max-width: 72%;
                    margin: auto;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .portfolio {
        .portfolio-inner {
            .portfolio-holder {
                display: flex;
                flex-direction: column;
                gap: 16px;
                border: 2px solid $primary-color;
                .portfolio-col {
                    max-width: 80%;
                    margin: auto;
                    .portfolio-text {
                        font-weight: 400;
                    }
                }
                .portfolio-col2 {
                    max-width: 80%;
                    margin: auto;
                    text-align: center;
                    .portfolio-text-2 {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (max-width:540px) {
    .portfolio {
        .portfolio-inner {
            .portfolio-holder {
                .portfolio-col {
                    max-width: 100%;
                    margin: auto;
                    .portfolio-text {
                        font-weight: 400;
                    }
                }
                .portfolio-col2 {
                    max-width: 100%;
                    margin: auto;
                    text-align: center;
                    .portfolio-text-2 {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}