.secondary-nav {

    background-color: $footer-color;
    transform: rotate(90deg);
    position: fixed;
    left: -100vw;
    top: 22.2vw;
    width: 96vh;
    border-radius: 16px 16px 0 0;
    padding: 48px 0 32px 0;
    box-shadow: 0px -6px 12px -8px $primary-color;
    transition: 0.3s ease-in-out;
        nav {

            ol {

                list-style: none;
                display: flex;                

                justify-content: space-around;
                
                li {
                    align-self: flex-start;
                    padding: 0 16px;
                    a {
                        @include heading-2();
                        margin-bottom: 0;
                        position: relative;
                        font-size: 20px;
                        line-height: 1.6;
                        color: transparent;
                        -webkit-text-stroke: 1px $heading-color;
                        font-weight: 700;
                        &::before {
                            content: attr(data-text);
                            position: absolute;
                            color: $heading-color;
                            height: 0;
                            overflow: hidden;
                            transition: 0.4s ease-in-out;
                            border-color: $primary-color;
                        }
                        &:hover::before {
                            height: 100%;
                            -webkit-text-stroke: 1px $heading-color;
                            filter: drop-shadow( 0 0 25px $primary-color);
                            border-bottom: 6px solid $primary-color;
                        }
                    }
                }
            }
        }
    
}

.nav-scrolled{
    display: block !important;
    left: -22vw;
    // -webkit-animation: nav-show 1s ease-in-out both;
    // animation: nav-show 1s ease-in-out both;


}

// @-webkit-keyframes nav-show {
//     0% {

//       opacity: 0;
//     }
//     100% {

//       opacity: 1;
//     }
    
//   }
//   @keyframes nav-show {
//     0% {

//       opacity: 0;
//     }
//     100% {

//       opacity: 1;
//     }
//   }
  