.skills {
    .container {
        .skills-inner {
            h2 {
                @include heading-2;
                text-align: center;
            }
            .skill-percentage {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                transition: 0.6s ease-in-out;
                .skill-list {
                    width: 40%;
                    overflow: hidden;
                    h3 {
                        text-align: center;
                        @include heading-2;
                        font-size: 28px;
                        padding: 12px 0 0 0;
                        line-height: 1;
                        position: relative;
                        margin-bottom: 40px;
                        .quality {
                            display: block;
                            color: $background-color;
                            transition: 0.5s ease-in-out;
                            border: unset;
                            height: 100%;
                            padding: 8px 0;
                            position: absolute;
                            inset: 0;
                            top: 100%;
                            
                            
                        }
                        #html,
                        #javascript,
                        #bootstrap,
                        #webflow {
                            left: -100vw;
                        }
                        #css,
                        #scss,
                        #gsap,
                        #elementor {
                            right: -100vw;
                        }
                    }
                }
                &:hover {
                    .skill-list {
                        h3 {
                            .quality {
                                display: block;
                                background-color: $primary-color;
                                inset: 0;
                                top: 100%;
                            }
                            #html,
                            #javascript,
                            #bootstrap,
                            #webflow {
                                left: 0;
                            }
                            #css,
                            #scss,
                            #gsap,
                            #elementor {
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1280px){
    .skills{
        .container{
            .skills-inner{
                h2{
                    font-size: 32px;
                }
                .skill-percentage{
                    .skill-list{
                        h3{
                            
                            font-size: 20px;
                            margin-bottom: 32px;
                        }
                    }
                }
            }
        }
    }
}