#up-top {
   
        transition: 0.4s ease-in-out;
        #arrow-up {
            color: $primary-color;
            font-size: 72px;
            position: fixed;
            left: -80px;
            top: 10px;
            cursor: pointer;
            z-index: 21;
            transition: 0.4s ease-in-out;
            // -webkit-animation: slide-top 1s linear infinite both;
            // animation: slide-top 1s linear infinite both;
            transition: 0.3s ease-in-out !important;
    
        }
        .show-arrow{
      
            left: 60px !important;
        }
   
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

