$background-color: #1D1D1D;
$footer-color: #252526;
$primary-color: #1FFF0F;
$secondary-color: #EF0FFF;
$text-color: #E3E3E3;
$heading-color: #f5f5f5;
$h1: 46px;
$h2: 40px;
$h4: 24px;
$lg-text: 20px;
$reg-text: 16px;
$sm-text: 12px;